<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">
       <!--构造器注入-->
       <bean id="car1" class="fangfazhuru.Car">
              <constructor-arg name="brand" value="Ford"></constructor-arg>
              <constructor-arg name="price" value="100000"></constructor-arg>
       </bean>
       <!--set方法注入-->
       <bean id="car2" class="fangfazhuru.Car">
              <property name="brand" value="Changan"></property>
              <property name="price" value="70000"></property>
       </bean>

       <util:map id="map1">
              <entry key="car1" value-ref="car1"></entry>
              <entry key="car2" value-ref="car2"></entry>
       </util:map>
</beans>